@import url('https://fonts.googleapis.com/css?family=Lato');

::ng-deep body {
    background: #FAFCFD;
}

.page-title {
    font-family: "Roboto Slab","Museo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #5D6769;
    line-height: 1.2em;
    text-rendering: optimizelegibility;
}

.page-description {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: 2px;
}

.blog-content {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.blog-panel {
    border: 1px solid #EEEAEA;;
}

.blog-panel .panel-header .content{
    display: inline flex;
    background: #EEEAEA;
    font-weight: 500;
    padding: 5px;
}

.blog-panel .panel-footer{
    background: #EEEAEA;
    padding: 5px;
}

.panel-footer .post-button {
    width: fit-content;
    cursor: pointer;
    font-weight: 300;
    background: #7DE8C6;
    height: auto;
    border: none;
    outline: none;
}

.post-box { 
    width: 100%;
    height: 100%;
    border: none !important;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.user-post {
    margin-top: 25px;
}

.user-post-panel {
    margin-top: 15px;
    border: 2px solid #EEEAEA;
    background: #fff;
    -webkit-box-shadow: 0px 1px 25px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 25px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 25px -12px rgba(0,0,0,0.75);
}

.user-post-panel .panel-header {
    background: #EEEAEA;
    padding: 5px;
    font-size: 16;
    font-weight: 600;
    -webkit-box-shadow: inset 0px 1px 35px -10px rgba(92,90,92,1);
    -moz-box-shadow: inset 0px 1px 35px -10px rgba(92,90,92,1);
    box-shadow: inset 0px 1px 35px -10px rgba(92,90,92,1);
}

.user-post-panel .post-body {
    padding: 10px;
}


