.page-breadcrumb {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('http://unsplash.it/1200x800') no-repeat center;
    width: 100%;
    background-size: cover;
}

.btn, a{
    color: #ff4081;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase; 
}

.page-nav {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    background: #212529;
    width: 100%;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
}

.page-nav .nav {
    margin-left: 20px;
    cursor: pointer;
}

.page-description {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 40px;
}

.page-description .title {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.page-description .content {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 5rem;
    letter-spacing: .5rem;
    padding: 10px;
}
