<div class="about-page">

    <div class="page-header">
        <button class="home-button" type="button">ROG</button>
            <div class="head_container">
                <a href="#" class="btn">about</a>
                <a href="#" class="btn">live sermon</a>
                <a href="#" class="btn">give</a>
                <a href="#" class="btn">blog</a>
                <a href="#" class="btn">message store</a>
                <a href="#" class="btn">music store</a>
            </div>    
    </div>

    <div class="body-container">
     <div class="page-body">
        <div class="body-content">
            <li class="btn" > <a href="#">Vision</a></li>
            <li class="btn" > <a href="#">Leadership</a></li>
        </div>
     </div>

    </div>
</div>