<div class="about-page">
    <div class="page-breadcrumb">
        <app-top-nav [page]="page"></app-top-nav>

        <div class="page-description">
            <div class="title">About</div>
            <div class="content">{{currentPage}}</div>
        </div>
    </div>
    
    <div class="page-nav">
        <div class="nav" (click)="changePageContent('vision')">Vision</div>
        <div class="nav" (click)="changePageContent('leadership')">Leadership</div>
    </div>

    <div class="page-nav-content">
        <app-about-leadership *ngIf="!displayVision"></app-about-leadership>
        <app-about-vision *ngIf="displayVision"></app-about-vision>
    </div>
    
</div>