.about-page{
    background: black;
background-size: cover;
color: #fff;
text-align: center;
text-rendering: optimizeLegibility;
padding: 15px 10px 15px;
height:100vh;
width: 100%;
position: relative;
}

.head_container{
position: absolute;
right: 0;
}

.home-button{
    position: absolute;
    left: 20px;
    color: white;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff4081;
    width:fit-content;
    border-radius: 10px;

}

.btn, a{
    color: #ff4081;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
   
}


a:hover{
color:white;
}

a:active {
    color: black;
  }

  .page-body{
      vertical-align: middle;
      margin-top: 20em;
      background-color: rgba(169, 169, 169, 0.212);
  }