<div>
    <div class="about-vision-header">
        <div>Introducing People To Christ <br/><small>The only way to salvation</small></div>
    </div> 
    
    <div class="about-vision-content">
        <div class="content deep-colored-content">
            <p>The Mission of RCCG Rod of God Parish, Indianapolis is to bring people to the realization of the fulfillment of their God given dreams and potentials, 
                and to teach people the Word of God with integrity. We believe that the door of salvation is wide open and so are the doors to our church.
                Our mission is to make heaven, to take many people with us, and to have a member of R.C.C.G. in every family of all nations.</p>
        </div>
        <div class="content light-colored-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, veniam dicta sapiente autem quos, 
            error ipsa iusto ullam voluptas animi quia, culpa magni placeat? Eius aperiam sequi aliquid ex accusamus.</p>
        </div>
        
        <div class="content deep-colored-content">
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Sint autem itaque ullam magni error soluta dolore laborum animi iure vitae impedit quaerat optio aperiam, harum maiores unde eaque ipsam ea.</p>
        </div>
        <div class="content light-colored-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Tempore aut maxime non tempora cum eaque voluptatibus et odio repellat, officia dolorem nemo dolorum dignissimos. 
            Eligendi quis sed veritatis architecto odio.</p>
        </div>
    </div>

</div>