<div id="lead-comp">
  <section role="outter">
    <div class="container">
      <section class="staff mt-4">
        <article class="row mb-8">
          <div class="col-sm-4">
            <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Main Pastor">
          </div>
          <div class="col-sm-8">
            <h3>J.K Balogun</h3>
            <h4>Main Pastor</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ratione, illo </p>
            <p>quas sapiente aliquid maiores dolores, sequi, veritatis dignissimos voluptates voluptatem odio </p>
            <p>temporibus aut excepturi inventore saepe laborum. Exercitationem, possimus!</p>
          </div>
        </article>
        <article class="row mb-8">
            <div class="col-sm-4">
              <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Main Pastor">
            </div>
            <div class="col-sm-8">
              <h3>John Doe</h3>
              <h4>Another Executive</h4>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ratione, illo </p>
              <p>quas sapiente aliquid maiores dolores, sequi, veritatis dignissimos voluptates voluptatem odio </p>
              <p>temporibus aut excepturi inventore saepe laborum. Exercitationem, possimus!</p>
            </div>
          </article>
          <article class="row mb-8">
              <div class="col-sm-4">
                <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Main Pastor">
              </div>
              <div class="col-sm-8">
                <h3>Jane Sullivan</h3>
                <h4>Another Executive</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ratione, illo </p>
                <p>quas sapiente aliquid maiores dolores, sequi, veritatis dignissimos voluptates voluptatem odio </p>
                <p>temporibus aut excepturi inventore saepe laborum. Exercitationem, possimus!</p>
              </div>
            </article>
      </section>
    </div>
  </section>
</div>