/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.header-one {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
}

.rog-text-error {
    color: red;
}

input, button {
    border: 1px solid lightgray;
    margin-right: 1.5em !important;
    width: 300px;
    padding: 10px 15px;
    border-color: #fff;
    color: #1c1c1c;
    font-weight: 700;
    border: 3px solid transparent;
    text-transform: uppercase;
    letter-spacing: 0;
    -webkit-appearance: none;
    cursor: text;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    font-family: colfax-web,sans-serif;
    font-size: 20.4px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

.row {
    margin: auto !important;
}


@media (min-width: 320px) and (max-width: 1037px) {
  
    .header-one {
        font-size: 2rem;
    }

    .route-link-button  {
        display: block;
        width: 300px !important;
        text-align: center;
    }

  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 795px) and (max-width: 1300px) {
  
    .header-one {
        font-size: 2rem;
    }

    .route-link-button  {
        display: block;
        width: 300px !important;
        text-align: center;
    }  
    
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

