/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.header-one {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
}

.rog-text-error {
    color: red;
}

input, button {
    border: 1px solid lightgray;
    margin-right: 1.5em !important;
    width: 300px;
    padding: 10px 15px;
    border-color: #fff;
    color: #1c1c1c;
    font-weight: 700;
    border: 3px solid transparent;
    text-transform: uppercase;
    letter-spacing: 0;
    -webkit-appearance: none;
    cursor: text;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    font-family: colfax-web,sans-serif;
    font-size: 20.4px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}