/* You can add global styles to this file, and also import other style files */
.header-one {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: .5rem;
}

.rog-text-error {
    color: red;
}