<div class="leadership-page">

    <div class="leadership-content">
        <div class="profile-image">
            <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Main Pastor" height="250">
        </div>

        <div class="profile-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis corporis illo ducimus hic 
            voluptatibus molestias nisi obcaecati, a rerum nesciunt ratione accusantium itaque quod eaque
            dicta explicabo dolorem eveniet natus!  
        </div>
    </div>

    <div class="leadership-content" id="st-colored">
        <div class="profile-image">
            <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Another Pastor" height="250">
        </div>

        <div class="profile-description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque suscipit eos quo officia numquam psam sit provident quae nulla! Eum aspernatur hic dolores officiis maiores ducimus vero qui inventore nihil!6y
        </div>
    </div>

    <div class="leadership-content" id="st-colored">
        <div>
            <img src="https://cdn1.vectorstock.com/i/1000x1000/19/00/user-icon-male-person-symbol-profile-avatar-sign-vector-18991900.jpg" alt="Another Pastor" height="250">
        </div>

        <div class="profile-description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex culpa, quos recusandae, nemo a voluptatum dolores minima provident magnam consectetur saepe voluptatem temporibus aliquid ad. Corrupti ratione dignissimos facilis nobis.
        </div>
    </div>

</div>