@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.leadership-content {
  display: grid;
  grid-template-columns: 250px auto;
  padding-top: 30px;
  margin: 20px 150px;
}

.leadership-content .profile-image {
  padding-left: 20px;
}

.leadership-content .profile-description {
  padding-left: 80px;
}

.leadership-page {
  padding: 35px 40px 35px 40px;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  font-size: 1rem;
  font-weight: 600;
}