<div class="landing-content">
  <div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <div class="header-one page-header">Rod of God</div>
        
          <form>
            <input [(ngModel)]="userProfile.address" name = "address" type="text" placeholder="Enter your Address">
            <button (click)="getMembersAround($event)" class="submit" type="submit">Request Ride</button>
          </form>

          <div class="rog-text-error" *ngIf="errorMessage">
            <div>{{errorMessage}}</div>
          </div>

          <div class="app-routes">
              <button class="route-link-button" mat-button>About</button>
              <button class="route-link-button" mat-button>Watch Online</button>
              <button class="route-link-button" mat-button>Give</button>
              <button class="route-link-button" mat-button>Blog</button>
              <button class="route-link-button" mat-button>Message Store</button>
              <button class="route-link-button" mat-button>Music Store</button>
          </div>

    </div>

    <div class="col-sm-2"></div>

  </div>

</div>




