@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.about-vision-header {
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 600;
}

.about-vision-content {
    font-size: 20px;
    letter-spacing: .1rem;
    width: 100%;
}

.about-vision-content .deep-colored-content {
    background-color: #eeeaea;
}

.about-vision-content .light-colored-content {
    background-color: white;

}


.about-vision-content .content {
    padding: 20px 50px 25px 50px;
}