<div class="nav-wrapper">

  <nav class="nav fixed-top app-navigation">
      <div class="nav-link {{(page === 'home' ? 'active' : '')}}" href="#" (click)="navigate('home')">Home</div>
      <div class="nav-link {{(page === 'about' ? 'active' : '')}}" href="#"  (click)="navigate('about')">About</div>
      <div class="nav-link {{(page === 'livesermon' ? 'active' : '')}}" href="#"  (click)="navigate('livesermon')">Live Service</div>
      <div class="nav-link {{(page === 'give' ? 'active' : '')}}" href="#"  (click)="navigate('give')">Give</div>
      <div class="nav-link {{(page === 'blog' ? 'active' : '')}}" href="#"  (click)="navigate('blog')">Rog Feed</div>
      <div class="nav-link {{(page === 'shop' ? 'active' : '')}}" href="#"  (click)="navigate('messagestore')">Shop</div>
    </nav>
  
  </div>